.bg img{
    width:100px;
    height:100px;
    margin-top:110%;
}

.bg1 img{
    width:220px;
    height:220px;
    margin-top:2%;
}
.flex2{
    display:flex;
    margin-top:10%;
}

.co{
    background:white;
    margin-left:50px;
    width:200px;
    margin-top:20px;
    font-size:20px;
    text-align: center;
    padding:5px;
    color:red;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.Info{
    position:absolute;
    top:50%;
    left:60%;
    transform:translate(-50%,-50%);
    width:400px;
}

.a1{
    display:flex;
    background:rgba(172, 172, 175, 0.4);
    width:100%;
    height:40px;
    border-left:10px solid red;
    margin:20px;
}

.val{
    margin-left:80px;
    font-size:30px;
    color:rgb(243, 233, 92);
}

.val1{
    margin-left:20px;
    font-size:30px;
    color:rgb(255, 20, 20);
}

.a2{
    display:flex;
    background:rgba(172, 172, 175, 0.4);
    width:100%;
    height:40px;
    border-left:10px solid violet;
    margin:20px;
}

.a3{
    display:flex;
    background:rgba(172, 172, 175, 0.4);
    width:100%;
    height:40px;
    border-left:10px solid blueviolet;
    margin:20px;
}

.a4{
    display:flex;
    background:rgba(172, 172, 175, 0.4);
    width:100%;
    height:40px;
    border-left:10px solid green;
    margin:20px;
}

.val2{
    margin-left:20px;
    font-size:30px;
    color:rgb(60, 240, 171);
}

.val3{
    margin-left:20px;
    font-size:30px;
    color:rgb(49, 230, 49);
}

@media (max-width:800px)
{
    .bg img{
        width:50px;
        height:100px;
        margin-top:110%;
    }
    
    .bg1 img{
        width:100px;
        height:220px;
        margin-top:2%;
    }
    .flex2{
        display:flex;
        margin-top:60%;
    }

    .Info{
        width:300px;
        left:42%;
    }
    .val{
        font-size:15px;
    }
    .val1{
        font-size:15px;
    }
    .val2{
        font-size:15px;
    }
    .val3{
        font-size:15px;
    }
    .a1{
        font-size:15px;
    }
    .a2{
        font-size:15px;
    }
    .a3{
        font-size:15px;
    }
    .a4{
        font-size:15px;
    }
    .headerTxt{
        font-size:40px;
    }
    .subHeader{
        font-size:30px;
        transform:translateX(-30%);
    }
}